body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(61, 111, 175);
}


.top-navbar{
    margin-top:2px;
    overflow:hidden;
    background-color: rgb(70, 69, 69);
}

.top-navbar a{
    color:#f8fafc;
    text-align:center;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
}

.left-navbar-item{
    float: left;
}

#right-navbar-item{
    float: right;
}

.top-navbar a:hover{
    background-color:powderblue;
    color:black;
}
.top-navbar a:active{
    background-color: rgb(255, 115, 0);
    color:white;
}
.stylish-font{
    font-family: Playfair Display;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.half-width{
    width:40%;
    float:left;
    margin-left:2%;
    padding-left:2%;
}

.half-width img{
    width:100%;
}
.order-healthy-food h1{
    margin:0px;
}

.orange-color{
    color:orange;
}

.gray-color{
    color:rgb(94, 48, 48);
}

h1{
    font-size:50px;
}
p{
    color:cyan;
}

.get-top-space{
    margin-top:150px;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato );
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 10px;
    color:white;
    box-shadow: 3px 3px 15px rgb(255, 115, 0);
}
.about-me img{
    width:400px;
    height:640px;
    object-fit: cover;
}

.footer{
    text-align: center;
    background-color:black;
}
.footer p{
    color:white;
    margin:0px;
}

.my-recipies h1,p{
    text-align: center;
}

.display-recipies div{
    box-shadow: 5px 7px 40px rgb(226, 222, 222);
    border-radius:20px;
    height: 80%;
}

.recipes-description{
    float:left;
    width:30%;
    margin:5px;
    padding:15px;
}

.recipes-description img{
    height:60%;
    width:90%;
    border-radius:20px;
    object-fit: cover;
}