body{
    margin:0px;
    font-family: 'Poppins', sans-serif;

}

section{
    height: 500px;
    padding-bottom: 150px;
}
.half-width{
    width:40%;
    float:left;
    margin-left:2%;
    padding-left:2%;
}

.half-width img{
    width:100%;
}
.order-healthy-food h1{
    margin:0px;
}

.orange-color{
    color:orange;
}
h1{
    font-size:50px;
}

.get-top-space{
    margin-top:150px;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato );
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 10px;
    color:white;
    box-shadow: 3px 3px 15px rgb(255, 115, 0);
}
.about-me img{
    width:400px;
    height:640px;
    object-fit: cover;
}

.footer{
    text-align: center;
    background-color:black;
}
.footer p{
    color:white;
    margin:0px;
}
.gray-color{
    color:gray;
}
.my-recipies h1{
    text-align:center;
}
.my-recipies p{
    text-align: center;
}

.display-recipies div{
    box-shadow: 5px 7px 40px rgb(226, 222, 222);
    border-radius:20px;
    height: 80%;
}

#recipes{
    float:left;
    width:30%;
    margin:5px;
}
#recipes img{
    height:60%;
    width:90%;
    margin:20px;
    border-radius:20px;
    object-fit: cover;
}